  <div >
    <div class="card-product">
      <div class="card-title d-flex justify-content-between">
        <h1>Product features</h1>
        <h2 class="mt-2 mr-2" style="font-size: 20px;"><%= @product.price %> €/jour </h2>
      </div>
      <div class="card-body ">
        <div class="d-flex">
          <div class="category">
            <h2><%= @product.category.capitalize %></h2>
          </div>
          <div class="brand pl-2">
            <h2> <%= @product.brand.capitalize %> </h2>
          </div>
        </div>
        <br/>
        <div class="material">
          <h2> Material review: <%= @product.status %> </h2>
        </div>
        <br/>
        <div class="description">
          <h2>Description:</h2>
          <p><%= @product.description %></p>
        </div>
      </div>
    </div>
  </div>
