  <div >
    <div class="card-product">
      <div class="card-title d-flex justify-content-between">
        <div class="material ml-2">
          <h1><%= @product.brand.capitalize %></h1>
          <h2> <%= @product.category.capitalize %> status: <%= @product.status %> </h2>
        </div>
        <h2 class="mt-2 mr-2" style="font-size: 20px;"><%= @product.price %> €/day</h2>
      </div>
      <div class="card-body ">
        <div class="description">
          <h2>Description:</h2>
          <p><%= @product.description %></p>
        </div>
      </div>
    </div>
  </div>
