<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.voiledetraction.fr/wp-content/uploads/kitesurf-sicily-the-best-offers-in-kitesurf-for-a-sport.jpeg);">
  <div class="container">
    <h1>Easy Kite</h1>
    <p> La meilleure solution pour s'envoyer en l'air</p>
    <br>
  </div>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group d-flex">
      <input id="kite-search" class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-success">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row">
      <% Product.categories.each do |category| %>
        <div class="col-sm-6 col-md-3 col-lg">
          <div class="card-category"><%= category.capitalize %></div>
        </div>
      <% end %>
      <div class="card-category remove-filters">Remove Filters</div>
  </div>
</div>


<div class="container-fluid d-flex">

  <div class="grid-wrapper">
    <% @products.each do |product| %>
      <%= link_to product_path(product[:id]), data: {category: product.category} do %>
          <div class="card-trip">
           <% if product.photos.attached? %>

            <%= cl_image_tag product.photos.first.key, class:'d-block w-100',crop: :fill %>

             <% else %>
             <%= image_tag "https://source.unsplash.com/featured/500X1200/?kitesurf", class:"d-block w-100", crop: :fill %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= product.category.capitalize %></h2>
                <h3><%= product.brand.capitalize %></h3>
                <% if product.city.present? && product.country.present? %>
                  <p><%= product.city %>, <%= product.country %></p>
                <% else %>
                  <p><%= product.address %></p>
                <% end %>
                <p>by : <em><%= product.user.full_name %></em></p>
              </div>
              <h2 class="card-trip-pricing"><%= product.price %>€<small>/day</small></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/Chabmax" class="card-trip-user avatar-bordered" />
            </div>
         </div>
      <%end %>
    <% end %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
