<div class="banner">
  <div class="container">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group d-flex">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-success">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container d-flex flex-wrap justify-content-between p-0">

  <div class="row ">
    <% @products.each do |product| %>
      <div class="card col-3 m-2 p-1">
          <h3><%= product.brand %></h3>
          <p><%= product.category %></p>
          <p><%= product.description %></p>
          <p><%= product.status %></p>
          <h3 class="text-right"><%= product.price %></h3>
          <%= link_to "Discover More", product_path(product), class: "btn btn-success"  %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
