<%= render 'carousel' %>

<div class="container col-11">
  <div class="row">
    <div class="col-7">
      <div class="user-infos">
        <img src="https://kitt.lewagon.com/placeholder/users/BrianRid" style="width: 75px" class="avatar-bordered" />
        <h2> <%= @product.category.capitalize %></h2>
        <p>Proposed by: <%= @product.user.full_name %></p>
      </div>
      <div class="">
        <%= render 'product_infos' %>
      </div>
      <div>
        <% if policy(@product).edit? %>
          <%= link_to "Edit your product", edit_product_path(@product), class: "btn btn-success shadow mb-2"  %>
        <% end %>
        <% if policy(@product).destroy? %>
          <button id="sweet-alert-delete" class="btn btn-danger shadow mb-2">Delete product</button>
          <%= link_to "", @product, :method => :delete, id: "delete-link" , class: "hidden" %>
        <% end %>
      </div>
      <div>
        <%= render 'map_show' %>
      </div>

    </div>
    <div class="col-5">
    <%= render 'bookandmodal', rental: @rental, product: @product %>
    </div>
  </div>
</div>




<!-- Edit and Delete Buttons -->


<!-- Photos -->
<div class="container col-10 mt-2">
  <div class="picture-wrapper">
   <% if @product.photos.attached? %>
    <!-- sinon photos.present? ou unless photos[0]. -->
      <% @product.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "picture-item"%>
      <% end %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/featured/300X1200/?kitesurf", height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>
</div>


