<%= render 'carousel' %>

  <!-- nom - proposé par + Avatar -->
<div class="card-show ml-2 d-flex justify-content-between ">
  <div class="d-flex justify-content-center">
    <div>
      <p><%= @product.user.first_name%> <%= @product.user.last_name%></p>
    </div>
    <div>
      <img src="https://kitt.lewagon.com/placeholder/users/BrianRid" style="width: 75px" class="avatar-bordered" />
    </div>
  </div>
</div>
    <div>
    </div>

<div class="container col-10 d-flex justify-content-between">
  <%= render 'product_infos' %>
  <%= render 'modal' %>
</div>

<div class="container-map-product col-10 d-flex justify-content-between">
  <%= render 'map_show' %>
</div>

<!-- Edit and Delete Buttons -->
<div class="container col-10 mt-2">
  <% if policy(@product).edit? %>
    <%= link_to "Edit your product", edit_product_path(@product), class: "btn btn-success shadow mb-2"  %>
  <% end %>
  <% if policy(@product).destroy? %>
    <button id="sweet-alert-delete" class="btn btn-danger shadow mb-2">Delete product</button>
    <%= link_to "", @product, :method => :delete, id: "delete-link" , class: "hidden" %>
  <% end %>
</div>


<!-- Photos -->
<div class="container col-10 mt-2">
  <div class="picture-wrapper">
   <% if @product.photos.attached? %>
    <!-- sinon photos.present? ou unless photos[0]. -->
      <% @product.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "picture-item"%>
      <% end %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/featured/300X1200/?kitesurf", height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>
</div>


