<%= render 'carousel' %>

<div class="container col-11">
  <div class="row">
    <div class="col-7">
      <div class="user-infos">
        <img src= <%= "https://randomuser.me/api/portraits/men/#{rand(1..50).to_s}.jpg" %> style="width: 75px" class="avatar-bordered-show" />
        <h2 class="text-center"> <%= @product.category.capitalize %></h2>
        <p class="text-center">Proposed by: <%= @product.user.full_name %></p>
      </div>
      <div class="">
        <%= render 'product_infos' %>
      </div>
      <div>
        <% if policy(@product).edit? %>
          <%= link_to "Edit your product", edit_product_path(@product), class: "btn btn-success shadow mb-2"  %>
        <% end %>
        <% if policy(@product).destroy? %>
          <button id="sweet-alert-delete" class="btn btn-danger shadow mb-2">Delete product</button>
          <%= link_to "", @product, :method => :delete, id: "delete-link" , class: "hidden" %>
        <% end %>
      </div>
      <div>
        <div class="picture-wrapper mt-2">
         <% if @product.photos.attached? %>
            <% @product.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "picture-item"%>
            <% end %>
          <% else %>
            <%= image_tag "https://source.unsplash.com/featured/300X1200/?kitesurf", height: 300, width: 400, crop: :fill %>
            <%= image_tag "https://source.unsplash.com/featured/300X1200/?kitesurf", height: 300, width: 400, crop: :fill %>
            <%= image_tag "https://source.unsplash.com/featured/300X1200/?kitesurf", height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-5">
    <%= render 'bookandmodal', rental: @rental, product: @product %>
    </div>
  </div>
</div>




<!-- Edit and Delete Buttons -->


<!-- Photos -->
<div class="container col-10 mt-2">
  <%= render 'map_show' %>
</div>


